<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- Custom CSS -->
  <title>Actualización Propietario</title>
</head>

  <header>
    <% include ../partials/headerAdmin %>
  </header>

  <body>
    <div class="cont1">
      <div class="form-top">
      <h1>Registrar</h1>
      </div>
      <form class="form-reg" action= "/admin/actPropietarios/update/<%=data[0].idPropietarios%>" method="POST" >

        <h3>Nombres De Usuario</h3>
        <div class="form-group">
          <input name="nombres" type="text" class="form-control" value ="<%=data[0].nombres%>" required>
        </div>

        <h3>Apellidos De Usuario</h3>
        <div class="form-group">
          <input name="apellidos" type="text" class="form-control" value="<%=data[0].apellidos%>" required>
        </div>

        <h3>User Name</h3>
        <div class="form-group">
          <input name="userName" type="text" class="form-control" value = "<%=data[0].userName%>" required>
        </div>
        <i>Con este nombre iniciara sesión</i>

        <h3>Teléfono</h3>
        <div class="form-group">
          <input name="telefono" type="text" class="form-control" value = "<%=data[0].telefono%>" required>
        </div>

        <h3>Celular</h3>
        <div class="form-group">
          <input name="celular" type="text" class="form-control" value = "<%=data[0].celular%>" required>
        </div>

        <h3>Correo</h3>
        <div class="form-group">
          <input name="correo" type="text" class="form-control" value="<%=data[0].correo%>" required>
        </div>

        <div class="btn-form">
          <button type="submit" class="btn btn-warning">Actualizar Propietario</button>
          <button type="reset" class="btn btn-warning">Limpiar Campos</button>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
